$offwhite: rgb(250, 245, 232);
$primary-color: #C89D54;
$primary-hover-color: #B78C42;
$light-primary-color: #FAF5E8;
$second-color: #005450;
$third-color: #A7C6E4;
$fourth-color: #F2CC0A;
$light-color: #fff;
$dark-color: #000;
$semi-dark-color: #333;